<div class="title">The Problems</div>
<div class="main-text">Why are scientists and turtle advocates concerned about turtle racing? Click any issue below to find out more.</div>

<div
style="padding-top: 50px"
fxLayout="column"
fxLayout.gt-sm="row"
fxLayoutAlign="center"
fxLayoutGap="20px"
>
<ng-container *ngFor="let datum of data1; index as i">
  <div class="card-holder">
    <div>
      <div>
        <h2 class="header">
          {{ datum.header }}
        </h2>
      </div>
      <div>
        <p class="subhead">
          {{ datum.subhead }}
        </p>
      </div>
      <div>
        <img
          style="
width: {{ datum.width }};"
          src="{{ datum.image }}"
        />
      </div>
    </div>
  </div>
</ng-container>

</div>

<div
style="padding-top: 20px"
fxLayout="column"
fxLayout.gt-sm="row"
fxLayoutAlign="center"
fxLayoutGap="20px"
>
<ng-container *ngFor="let datum of data2; index as i">
<div class="card-holder">
  <div>
    <div>
      <h2 class="header">
        {{ datum.header }}
      </h2>
    </div>
    <div>
      <p class="subhead">
        {{ datum.subhead }}
      </p>
    </div>
    <div>
      <img
        style="
width: {{ datum.width }};"
        src="{{ datum.image }}"
      />
    </div>
  </div>
</div>
</ng-container>

</div>
