<div class="wrapper" routerLink="/" fxLayout="row">
  <div fxFlex="0"></div>

  <img fxFlex="7" fxFlex.sm="12" fxFlex.xs="17" class="small-logo" src="../../assets/logo/logo_i.jpeg" />

  <div fxFlex="2.5" fxFlex.sm="1.5" fxFlex.xs="0"></div>

  <img
    fxFlex="4.5"
    fxFlex.sm="8"
    fxFlex.xs="3"
    fxHide.xs
    class="donate"
  />

  <!-- src="https://cdn-icons-png.flaticon.com/512/5335/5335731.png" -->

  <div fxFlex="25" fxFlex.sm="6" fxFlex.xs="9"></div>

  <img fxFlex="22" fxFlex.sm="45" fxFlex.xs="65" class="lettering" src="../../assets/logo/lettering.jpg" />

  <div fxFlex="39" fxFlex.sm="27.5" fxFlex.xs="9"></div>
</div>
