.donate {
  height:60px;
}

.small-logo {
  height: 25%;
  display:block;
  margin:auto;
}

.donate {
  height: 25%;
  display:block;
  margin:auto;
}

.wrapper {
  background-color: black;
  padding-bottom: 1px;
  border-bottom: #41a2d8 5px solid;
  width: 100%;
}

.lettering {
  display:block;
  margin:auto;
}

.wrapper .lettering-container {
  /* display: block; */
  /* display: flex;
  justify-content: right;
  margin-right: 50vw;
  transform: translateX(134px); */
}


@media only screen and (max-width: 1367px) {

/* .small-logo {
  width:100%;
  padding-top: 12px;
  }

  .lettering {
    width: 100%;
    padding-top: 4px;
  } */
}
