<div class="wrapper"
     fxLayout="row"
     fxLayout.lt-md="column">

  <div class="logo-div" fxHide.lt-md>
    <img class="large-logo" src="../../assets/logo/logo_i.jpeg" />
  </div>

  <div fxLayoutAlign.lt-md="center center" class="links-div">
    <ul class="footer-links">
      <li><a href="">About Us</a></li>
      <li><a href="">Newsletter</a></li>
      <li><a href="">Contact Us</a></li>
      <li><a href="">Report Misconduct</a></li>
    </ul>
  </div>

  <div fxLayoutAlign.lt-md="center center" class="newsletter">
    <img
      matTooltip="Subscribe to Newsletter"
      src="./../../assets/newsletter.jpg"
    />
  </div>

  <div class="copyright-div">
    <p class="copyright">
      All images and design © 2021 Turtle Race Task Force (TRTF).
    </p>
    <p class="copyright">
      TRTF operates under the 501(c)3 of the
      <a href="https://www.corhs.org/">Colorado Reptile Humane Society</a>
    </p>
  </div>
</div>
