<div style="position: relative">
  <div class="all">
    <div fxLayout="row">
      <h2
        class="info"
        style="
          font-family: Roboto Condensed, sans-serif;
          font-weight: 400;
          margin-bottom: 50px;
          margin-left: auto !important;
          margin-right: auto !important;
          display: block !important;
        "
      >
        Reforming Turtle Races for Conservation
      </h2>
    </div>

    <app-prob-sol-part></app-prob-sol-part>
    <app-cornerstones></app-cornerstones>
    <app-six-stones></app-six-stones>


  </div>
  <img
    style="position: absolute; height: 75%; width: 16%; top: 425px; left: 310px"
    src="./../../../assets/svg/curved-arrow-with-broken-line.svg"
    alt=""
  />



  <img
    style="
      position: absolute;
      height: 60%;
      width: 16%;
      top: 1240px;
      left: 880px;
    "
    src="./../../../assets/svg/curved-arrow-with-broken-line.svg"
    alt=""
  />

  <img
  style="
    position: absolute;
    height: 7%;
    width: 16%;
    top: 640px;
    left: 180px;
  "
  src="./../../../assets/svg/left-down-arrow-with-broken-line.png"
  alt=""
/>

<img
style="
  position: absolute;
  height: 10%;
  width: 14%;
  top: 440px;
  left: 1040px;
"
src="./../../../assets/svg/turn-down-left-arrow-with-broken-line.png"
alt=""
/>
  <app-cert></app-cert>
  <app-signup></app-signup>
</div>
