<div style="position: relative">
  <div class="all">
    <div fxLayout="row">
      <h2
        class="info"
        style="
          font-family: Roboto Condensed, sans-serif;
          font-weight: 400;
          margin-bottom: 50px;
          margin-left: auto !important;
          margin-right: auto !important;
          display: block !important;
        "
      >
        Reforming Turtle Races for Conservation
      </h2>
      <img style="height: 75px; margin-top: 40px;" src="./../../../assets/svg/down-arrow.png" />
    </div>

    <div
      style="
        background: rgb(2, 0, 36);
        background: linear-gradient(90deg, #e92f2f 0%, #d8aa10 50%, #41d853 100%);
        height: 45%;
        width: 100%;
        border-top: 8px solid #41a2d8;
        border-bottom: 8px solid #41a2d8;
      "
      fxLayout="row"
      fxLayoutAlign="space-between"
    >
      <div class="problem-div" style="margin-left: 25px;">
        <h3>The Problem</h3>
        <!-- <img style="height: 15%" src="./../../../assets/svg/report_card.png"> -->
        <img style="height: 16%; border: black 1px solid;" src="./../../../assets/svg/error.svg" />
        <p>
          Over 90% of turtle races failed to meet basic animal care and
          conservation standards in 2021
        </p>
      </div>

      <div class="problem-div">
        <h3>The Solution: You</h3>
        <img style="height: 20%" src="./../../../assets/svg/partnership.svg" />
        <p>
          As a turtle race organizer, you are powerfully positioned to help the
          practice of turtle racing adopt a Conservation Ethic
        </p>
      </div>

      <div class="problem-div" style="margin-right: 25px;">
        <h3>Conservation Partnerships</h3>
        <img style="height: 20%" src="./../../../assets/svg/handshake.svg" />
        <p>
          The Turtle Race Task Force has the expertise needed to help you
          revolutionize your race while keeping it fun
        </p>
      </div>
    </div>

    <div
      class="text-div"
      style="
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 40%;
        border: 3px solid black;
        border-radius: 12px;
        padding: 20px;
        margin-top: 30px;
      "
    >
      <h2 class="title" style="text-align: center">Key Concepts</h2>
      <div>
        <p class="text">
          Development of a Conservation Ethic for turtle races revolves around
          the following <b>Six Key Concepts</b>. The Turtle Race Task Force is
          currently developing Best Practices guidelines based on each concept.
        </p>
        <p class="text" style="padding: 19px !important; text-align: center">
          <b>Officials guidelines will be released by February 2022.</b>
        </p>
      </div>
    </div>

    <div
      style="padding-top: 50px"
      fxLayout="column"
      fxLayout.gt-md="row"
      fxLayout.gt-sm="row wrap"
      fxLayoutAlign="center"
      fxLayoutGap="20px"
    >
      <ng-container *ngFor="let datum of data; index as i">
        <div class="card-holder">
          <div>
            <div>
              <h2 class="header">
                {{ datum.header }}
              </h2>
            </div>
            <div>
              <p class="subhead">
                {{ datum.subhead }}
              </p>
            </div>
            <div>
              <img
                style="
      width: {{ datum.width }};
    "
                src="{{ datum.image }}"
              />
            </div>
          </div>
        </div>
      </ng-container>
    </div>
  </div>
  <img
    style="position: absolute; height: 75%; width: 16%; top: 425px; left: 310px"
    src="./../../../assets/svg/curved-arrow-with-broken-line.svg"
    alt=""
  />

  <img
    style="
      position: absolute;
      height: 60%;
      width: 16%;
      top: 1240px;
      left: 880px;
    "
    src="./../../../assets/svg/curved-arrow-with-broken-line.svg"
    alt=""
  />

  <img
  style="
    position: absolute;
    height: 7%;
    width: 16%;
    top: 640px;
    left: 180px;
  "
  src="./../../../assets/svg/left-down-arrow-with-broken-line.png"
  alt=""
/>

<img
style="
  position: absolute;
  height: 10%;
  width: 14%;
  top: 440px;
  left: 1040px;
"
src="./../../../assets/svg/turn-down-left-arrow-with-broken-line.png"
alt=""
/>
  <app-cert></app-cert>
  <app-signup></app-signup>
</div>
