<h1 style="text-align: center; font-size: 35px; padding-top: 20px;">Endangered Species</h1>

<img fxShow.gt-sm="false" src="./../../../assets/endangered_turtle.jpeg" alt="" style="width: 80vw; margin-left: auto; margin-right: auto; display: block;">
<img fxShow.lt-md="false" src="./../../../assets/endangered_turtle.jpeg" alt="" style="width: 60vw; margin-left: auto; margin-right: auto; display: block;">

<p class="para">Aside from the two box turtle species, 12 species of turtles have been documented at turtle races, including a number of endangered and otherwise protected species. </p>

<p class="para">The rare Blanding’s Turtle, a candidate for listing under the Endangered Species Act (ESA), has been seen at races in Michigan, Nebraska, Indiana and Missouri. </p>

<p class="para">The Wood Turtle, also an ESA candidate species, has been spotted at in Pennsylvania, Michigan, New York and Virginia. </p>

<p class="para">The Spotted Turtle, another ESA candidate, has been used at a race in Pennsylvania, while the Gopher Tortoise, which is Federally threatened in parts of its range and state protected in the remainder, was observed at a races in Georgia and Mississippi. </p>

<p class="para">The Ornate Box Turtle has shown up with frequency at races in Illinois, where it is a state threatened species, and on occasion in Arkansas, where it is a species of special concern. Eastern Box Turtles are sometimes used in spite of protected status at races in Pennsylvania, Indiana and Michigan. </p>

<p class="para">The Pearl River Map Turtle, which will soon be listed under the Endangered Species Act, has shown up at a Mississippi race.</p>

