<div class="image"></div>

<div class="wrapper">
  <h1
    style="
      color: white;
      font-size: 60px;
      text-align: center;
      padding-top: 80px;
      font-family: Roboto Condensed, sans-serif;
    "
  >
    Certification
  </h1>
  <div>
    <div fxLayout="row" style="justify-content: center; padding-top: 35px;">
      <div class="humane-div">
        <img class="humane" src="../../assets/svg/humane.png" alt="" />
        <p class="humane-text thing">
          The Turtle Race Task Force has accredited this race as benefitting turtle conservation and welfare
        </p>
      </div>
      <div style="width: 92px; height: 35px;"></div>
      <div style="width:35%">
        <div class="humane-text">
          Race officials who align their race with all six key points merit our
          organization's highest honor – the <b>Humane & Sustainable</b> rating.
          This distinction signals to the public that you have gone above and
          beyond to make your race turtle friendly and ensure conservation for
          future generations.
          <div style="height: 15%; justify-content: center;" fxLayout="row">
            <img src="./../../assets/svg/chevrons.svg" />
            <div style="height: 1px; width: 60px;"></div>
            <img src="./../../assets/svg/standard.svg" />
          </div>
          Upon certification your organization will receive
          <b>Humane and Sustainable</b> signage from us that you can display at your race.
          The seal can also be used on your fliers, advertising and social media.
        </div>
      </div>
    </div>
  </div>
</div>
