

<div fxLayout.gt-sm="row" fxLayout.lt-md="column" style="display: table; overflow: hidden;">
    <img class="ornate-image"
      src="./../../assets/ornate.jpg"
    />
    <div style="display: table-row; width: auto; background-color: #41a2d8">
      <p class="lead-text" style="padding-top: 50px;">Ready to bring your race to the next level?</p>
      <p class="lead-text">Conservation for the Next Generation starts here!</p>
      <br>
      <br>
      <p class="lead-text apply"><a style="text-decoration: none; color: white;" routerLink="/contact">Get Certified</a></p>
    </div>
</div>
