<p style="font-size: 30px; padding-top: 18px; text-align: center;">About the Turtle Race Task Force</p>

<p style="font-size: 18px; padding-top: 18px; width: 80%; margin-left: auto; margin-right: auto;">The Turtle Race Task Force was launched in November 2019 after a group of like minded turtle conservation advocates
    noticed
    problems with turtle races in their respective areas. Initially created with the goal of getting turtle races
    prohibited, our
    views have evolved — we now believe that turtle races can be part of the solution if organizers take proactive steps
    towards
    conservation and animal welfare.
</p>
<p style="font-size: 18px; padding-top: 18px; width: 80%; margin-left: auto; margin-right: auto;">
    The Colorado Reptile Humane Society has generously served as our fiscal sponsor since shortly after our founding,
    allowing us all
    the advantages of being a 501(c)3 non-profit during our development. During 2022 we will become a
    full-fledged non-profit
    as the Turtle Conservation Group. This name reflects our vision to operate in many areas of turtle conservation,
    including reforming
    turtle races.
</p>

<p style="font-size: 30px; padding-top: 30px; text-align: center;">Meet the Board</p>
<p style="font-size: 18px; padding-top: 18px; width: 80%; margin-left: auto; margin-right: auto;">The Turtle Race Task Force is governed by a nine member Board of Advisors — all of whom are passionate about turtle
    conservation and welfare</p>

<div fxLayout="row wrap" fxLayoutAlign="space-evenly center">
    <div class="bio" *ngFor="let bio of bios">
        <img src="{{bio.photoUrl}}" class="headshot">
        <div class="bio-border">
            <p class="name-text">{{bio.name}}</p>
            <p class="title-text">{{bio.title}}&nbsp;—&nbsp;{{bio.Location}}</p>
            <p class="paragraph">{{bio.text}}</p>
        </div>
    </div>
</div>