<div fxLayout="row" fxLayoutAlign="center" *ngFor="let bios of bio">
    <div class="bio">
        <div class="big-ole-block">
        </div>
        <p class="paragraph">I'm baby brunch lyft kitsch 90's vegan hexagon. Cornhole sriracha sustainable
            live-edge butcher twee, green juice YOLO letterpress 3 wolf moon scenester four dollar
            toast. Vaporware art party keffiyeh small batch. Kickstarter austin venmo gochujang
        </p>
    </div>
    <div style="height: 1px; width: 10vw;"></div>
    <div class="bio">
        <div class="big-ole-block">
        </div>
        <p class="paragraph">I'm baby brunch lyft kitsch 90's vegan hexagon. Cornhole sriracha sustainable
            live-edge butcher twee, green juice YOLO letterpress 3 wolf moon scenester four dollar
            toast. Vaporware art party keffiyeh small batch. Kickstarter austin venmo gochujang
        </p>
    </div>
</div>