<div
  class="text-div"
>
  <h2 class="title" style="text-align: center">Cornerstones</h2>
  <div>
    <p class="text">
      A Conservation Ethic for turtle races revolves around the following
      <b>Cornerstones</b>. The Turtle Race Task Force is currently developing
      Best Practices guidelines based on each Cornerstone.
    </p>
    <p class="text" style="padding: 19px !important; text-align: center">
      <b>Officials guidelines will be released in Spring 2022.</b>
    </p>
  </div>
</div>
