<h1 style="text-align: center; font-size: 35px; padding-top: 20px;">Relocation</h1>

<img fxShow.gt-sm="false" src="./../../../assets/stressed_turtle.jpeg" alt="" style="width: 80vw; margin-left: auto; margin-right: auto; display: block;">
<img fxShow.lt-md="false" src="./../../../assets/stressed_turtle.jpeg" alt="" style="width: 60vw; margin-left: auto; margin-right: auto; display: block;">

<p class="para">Wild box turtles have extreme site fidelity, meaning they are imprinted on a 5 to 15 acre site. Typically, they spend their entire lives inside of these “home ranges,” except for occasional forays by females to find egg laying sites. </p>

<p class="para">When box turtles are relocated, they wander aimlessly, searching for their lost home range. They become extremely prone to developing respiratory infection and exhibit increased mortality rates. People collecting turtles for turtle races often appear to make no effort to return box turtles to their home range. In fact, some turtle race organizers encourage this by offering to relocate box turtles that people no longer want after the race.</p>