.top-text {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.4em;
  font-size: 1.3rem;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  letter-spacing: 0.07em;
  color: #888888;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: left;
}


.image-div {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding-bottom: 100px;
}

/* .image:hover{
  filter: brightness(50%);
} */

.parent:hover .child {
  filter: brightness(50%);
}

.flapImage {
   margin:0 auto;
   text-align:center;
   top:0;
   left:0;
   background-color:white
}

.play {
  position: absolute;
  width: 150px;
  height: 150px;
  /* top: 50%;
  margin-right: auto;
  margin-left: auto; */
}



@media (max-width: 959px) {
  .image-div {
    height: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 30px;
  }

  .image {
    background-image: url("../../assets/07portales6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 99%;
    /* background-size: contain; */
    height: 100%;
    width: 100%;
    /* overflow: auto; */
    max-width: 100%;
  }
}

@media (min-width: 960px) {
  .image-div {
    height: 651px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-bottom: 30px;
  }

  .image {
    background-image: url("../../assets/07portales6.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 621px;
    /* background-size: contain; */
    height: 100%;
    width: 100%;
    /* overflow: auto; */
    max-width: 100%;
  }

  .parent {
    width: 621px;
  }
}

