img {
  height: 140px;
  width: 140px;
  border-radius: 12px;
}

.img-container {
}

.li-container {
  display: flex;
  padding-top: 7px;
  padding-bottom: 7px;
  border-top: 1px #888888 solid;
}

.description-text {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15.3px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400
}

.subhead-text {
  font-family: "Roboto Condensed",
  sans-serif; font-size: 20.4px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  color: #41a2d8
}

.header-text {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 12.75px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  letter-spacing: 0.8925px;
  color: #888888;
  padding: 0;
  margin: 0;
  border: 0px none;
}

.top-text {
  font-family: "Roboto Condensed", sans-serif;
  line-height: 1.4em;
  font-size: 20.4px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  letter-spacing: 0.07em;
  color: #888888;
  padding-top: 50px;
  padding-bottom: 20px;
}

.text {
  padding-left: 7px;
  margin: 0;
  border: 0px none;
  vertical-align: top;
  position: relative;
  /* position: absolute; */
  top: -8px;
}

