<div class="top-text">LEARN MORE</div>
<ng-container *ngFor="let datum of data, let isLast = last">
  <div class="li-container">
    <div class="img-container">
      <img src="{{datum.image}}" />
    </div>

    <span class="text">
      <!-- <h3 class="header-text">{{datum.header}}</h3> -->
      <h2 class="subhead-text">{{datum.subhead}}</h2>
      <p class="description-text">
        {{datum.description}}
      </p>
    </span>
  </div>
  <div class="last" *ngIf="isLast"></div>
</ng-container>
