<div style="height: 100px; width: 1px;"></div>

<div fxLayout="row" style="display: table">
    <img
      style="object-fit: cover; height: 25rem; width: 100%; display: table-row"
      src="./../../assets/ornate.jpg"
    />
    <div style="display: table-row; width: 500px; background-color: #41a2d8">
      <p class="lead-text" style="padding-top: 50px;">Ready to bring your race to the next level?</p>
      <p class="lead-text">Certification means Conservation for the Next Generation</p>
      <br>
      <br>
      <p class="lead-text apply">Apply Now</p>
    </div>
</div>
