<div class="wrapper">
    <div fxLayout="row" style="position: absolute; top: 50%; left: 50%;">
        <div style="height: 40px; 
                    width: 400px; 
                    background-color: rgb(2, 116, 2); 
                    border: 3px white solid; 
                    border-start-start-radius: 15px;
                    border-bottom-left-radius: 15px;
                    border-right: none !important;
                    /* background: linear-gradient(90deg, rgba(2,116,2,1) 85%, rgba(65,162,216,1) 100%); */
                    /* text-align: right; */
                    position: relative;
                    margin-right: 45px;">
                    This is a test
        </div>
        <div style="height: 40px; width: 400px; 
                    background-color: rgb #41a2d8; 
                    border: 3px white solid; 
                    border-left: none !important;
                    border-top-right-radius: 15px;
                    border-bottom-right-radius: 15px">
        </div>
    </div>
</div>
