<!-- desktop -->

<div *ngIf="showBar" (click)="turnOffDonate()" fxShow.gt-sm="true" fxLayout="row" class="wrapper">
    <mat-icon style="margin-left: 10vw;
    cursor: pointer;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%) scale(1.7);">close</mat-icon>
    <div class="progress-bg">
    	<div class="progress-bar" style="--raised-amount: {{progressPercentage}}%;">
        	<h3 class="raised">{{progressPercentage}}%&nbsp;raised </h3>
        </div>
            <button routerLink="/shop" *ngIf="!timeHit2" [@inOutAnimation] class="appeal" mat-raised-button color="accent">Donate - Free Hat Included!</button>	
        	<h3 *ngIf="timeHit1" [@inOutAnimation] class="goal" style="color: white;">Goal: $50,000</h3>
    </div>
</div>

<!-- mobile -->

<div *ngIf="showBar" (click)="turnOffDonate()" fxShow.gt-sm="false" fxLayout="row" class="wrapper">
    <mat-icon style="margin-left: 8vw;
    cursor: pointer;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%) scale(1.7);">close</mat-icon>
    <div *ngIf="timeHit3" [@inOutAnimation] class="progress-bg">
    	<div class="progress-bar" style="--raised-amount: {{progressPercentage}}%;">
        	<h3 *ngIf="timeHit1" [@inOutAnimation] style="font-size: 20px !important;" class="raised">{{progressPercentage}}%&nbsp;raised! </h3>
        </div>
        <h3 *ngIf="timeHit2 === false && timeHit3 === true" [@inOutAnimation] class="goal" style="color: white; font-size: 20px !important; float: left !important; margin-left: 6px;">$50,000 Goal</h3>
    </div>
    <button routerLink="/shop" *ngIf="!timeHit4" [@inOutAnimation] class="appeal" mat-raised-button color="accent">Donate - Free Hat Included!</button>
</div>
 