<div class="color-thing" fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign.gt-sm="space-between"
  fxLayoutAlign.lt-md="space-around center">
  <div class="problem-div">
    <h3 style="padding-top: 8%;">The Problem</h3>
    <!-- <img style="height: 15%" src="./../../../assets/svg/report_card.png"> -->
    <img style="height: 16%; filter: drop-shadow(16px 16px 10px black);" src="./../../../assets/svg/error.svg" />
    <p>
      Over 90% of turtle races failed to meet basic animal care and conservation
      standards in 2021
    </p>
  </div>

  <img fxShow.gt-sm="false" style="height: 7%;" src="./../../../../assets/svg/down-arrow-fat.svg">

  <div class="problem-div">
    <h3>The Solution: You</h3>
    <img style="height: 20%;" src="./../../../assets/svg/partnership.svg" />
    <p>
      As a turtle race organizer, you are powerfully positioned to help the
      practice of turtle racing adopt a Conservation Ethic
    </p>
  </div>

  <img fxShow.gt-sm="false" style="height: 7%; padding-top: 15px;" src="./../../../../assets/svg/down-arrow-fat.svg">

  <div class="problem-div">
    <h3>Conservation Partnerships</h3>
    <img style="height: 20%;" src="./../../../assets/svg/handshake.svg" />
    <p>
      We have the expertise to help you
      revolutionize your turtle race while keeping it fun
    </p>
  </div>
</div>