<p style="text-align:center; font-size: 20px; padding: 25px;">The Turtle Race Task Force/Turtle Conservation Group depends on small donors for mission success</p>

<div fxLayout.gt-sm="row" fxLayout.lt-md="column" fxLayoutAlign="center">
    <div fxLayout="column">
        <div class="donation-text" style="text-align: center; font-size: 35px;">Make a Donation</div>
        <p style="text-align: center; font-size: 16px;">Spring Fundraiser in Progress!</p>
        <div class="example-button-row centered">
            <a class="button" href="https://buy.stripe.com/fZe6oXcmTaZT7FS8wx">$<button mat-raised-button
                    color="primary">$5</button></a>
            <a class="button" href="https://buy.stripe.com/8wMeVtbiP6JD4tGaEG">$<button mat-raised-button
                    color="primary">$10</button></a>
            <a class="button" href="https://buy.stripe.com/14kdRp2Mjfg9aS428b">$<button mat-raised-button
                    color="primary">$20</button></a>
            <a class="button" href="https://buy.stripe.com/9AQ4gPaeL0lf3pC3cg">$<button mat-raised-button
                    color="primary">$50</button></a>
            </div>
            <div class="example-button-row centered">
            <a class="button" href="https://buy.stripe.com/28o14Dfz5d816BO149">$<button mat-raised-button
                    color="primary">$75</button></a>
            <a class="button" href="https://buy.stripe.com/00g5kT2Mjfg91hufZ4">$<button mat-raised-button
                    color="primary">$100</button></a>
            <a class="button" href="https://buy.stripe.com/28o7t15Yv4Bv2lyeV1">$<button mat-raised-button
                    color="primary">$200</button></a>
            <a class="button" href="https://buy.stripe.com/00g14DbiPc3X6BO5ks">$<button mat-raised-button
                    color="primary">$500</button></a>
        </div>
    </div>

    <div fxShow.lt-md="false">
        <div style="height:40%; width: 12px; background-color: black; padding-top: 200px; border-radius: 5px;"></div>
    </div>
    <div>

        <p class="hat-text" style="text-align: center; font-size: 35px;">Buy a Hat</p>

        <a href="https://buy.stripe.com/7sI6oXdqX5Fz9O04gp">
            <img class="hat-photo" src="./../../assets/turtle_hat.png">
        </a>
    </div>
</div>