<p>The Turtle Race Task Force/Turtle Conservation Group depends on small donors for a successful mission</p>

<p>Make a donation</p>
<div class="example-button-row">
    <a class="button" href="https://buy.stripe.com/test_28odTk1NmfEa0h2aEE">$<button mat-raised-button color="primary">$5</button></a>
    <a class="button" href="https://buy.stripe.com/test_28odTk1NmfEa0h2aEE">$<button mat-raised-button color="primary">$10</button></a>
    <a class="button" href="https://buy.stripe.com/test_28odTk1NmfEa0h2aEE">$<button mat-raised-button color="primary">$20</button></a>
    <a class="button" href="https://buy.stripe.com/test_28odTk1NmfEa0h2aEE">$<button mat-raised-button color="primary">$50</button></a>
    <div class="example-button-row">
    </div>
    <a class="button" href="https://buy.stripe.com/test_28odTk1NmfEa0h2aEE">$<button mat-raised-button color="primary">$75</button></a>
    <a class="button" href="https://buy.stripe.com/test_28odTk1NmfEa0h2aEE">$<button mat-raised-button color="primary">$100</button></a>
    <a class="button" href="https://buy.stripe.com/test_28odTk1NmfEa0h2aEE">$<button mat-raised-button color="primary">$200</button></a>
    <a class="button" href="https://buy.stripe.com/test_28odTk1NmfEa0h2aEE">$<button mat-raised-button color="primary">$500</button></a>
</div>


<p>OR</p>

<p>Buy a Hat</p>

<a href="https://buy.stripe.com/test_00gdTkbnWeA69RC5kl">
    <img src="./../../assets/turtle_hat.png">
</a>