section {
    display: table;
  }
  
  .example-label {
    display: table-cell;
    font-size: 14px;
    margin-left: 8px;
    min-width: 120px;
  }
  
  .example-button-row .mat-button-base {
    margin: 8px 8px 8px 0;
  }
  
  .example-flex-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .example-button-container {
    display: flex;
    justify-content: center;
    width: 120px;
  }

  .button {
    color: #FFFFFF;
    text-decoration: none;
    cursor: pointer;
  }

  .centered {
    text-align: center;
  }

  .color {
    width: 200px; 
    height: 50px; 
    border-radius: 10px; 
    color: white; 
    font-size: 25px; 
    text-align: center; 
    line-height: 50px;
    margin-left: auto; 
    margin-right: auto; 
    margin-bottom: 15px;
  }
  
  @media only screen and (min-width: 960px) {
    .hat-photo {
      padding-left: 90px;
      height: 75%
    }

    .donation-text {
      padding-bottom: 25%;
    }

    .example-button-row {
      display: table-cell;
      width: 490px;
    }
  }

  @media only screen and (max-width: 959px) {
    .hat-photo {
      width: 65%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .donation-text {
      padding-bottom: 25px;
    }

    .example-button-row {
      display: table-cell;
      width: 100%;
    }

    .hat-text {
      padding-top: 25px;
    }
  }

